@import 'libraries';
@import 'commons';

$highlight-color: #77BBDD;
// $text-color: rgba(0, 0, 0, .85);
// $text-color: #4f5262;
$text-color: #545353;
$light-color: #a19e9e;
$input-color: #f4f2f2;
$light-shadow: #dedef0;

$padding: 5px;
$margin: 5px;
$border-radius: 5px;

html,
body,
#root,
.Root {
  height: 100%;
}

@font-face {
  font-family: 'akkurat';
  font-style: normal;
  font-weight: normal;
  src: local('akkurat'),
    url(../assets/fonts/AkkuratPro-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'akkurat-mono';
  font-style: normal;
  font-weight: normal;
  src: local('akkurat'),
    url(../assets/fonts/Akkurat-Mono.OTF) format('opentype');
}

.AuthLinks {
  text-align: center;
  padding: 20px;
  a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
  }
}

.AuthLinks {
  text-align: center;
  padding: 20px;
  a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
  }
}

div,
p,
h1,
h2,
h3,
h4,
a {
  color: $text-color;
  text-decoration:none;
}

a {
  font-family: tablet-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: tablet-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
}

div,
p {
  font-family: tablet-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

b {
  font-family: tablet-gothic, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: tablet-gothic, sans-serif;
  font-weight: 600 !important;
  font-style: normal;
}

h1 {
  font-size: 30px;
}

a:hover {
  color: $highlight-color;
  // text-decoration: none;
}

.col {
  padding-left: 0 !important;
  padding-right: 1em;
};

.col >* {
  margin-bottom: 1em;
}

iframe {
  border: none;
}

input,
select {
  padding: 10px;
  height: 50px;
  border: 1px solid rgba(59, 59, 59, 0.3);
  background: none;
  width: 100%;
}

textarea {
  padding: 10px;
  border: 1px solid rgba(59, 59, 59, 0.3);
  background: none;
  width: 100%;
  resize: none;
}

.card-title {
  font-weight: 600;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
}


select {
  outline: none;
  border: 1px solid rgba(59, 59, 59, 0.3);
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

input[type='date']:before {
  content: attr(placeholder) !important;
  color: rgba(59, 59, 59, 0.7);
}

input[type='date']:focus:before,
input[type='date']:valid:before {
  content: '';
}

input[type='month']:before {
  content: attr(placeholder) !important;
  color: #6e789e;
}

input[type='month']:focus:before,
input[type='month']:valid:before {
  content: '';
}

input:focus,
textarea:focus {
  outline: none;
}

table,
th,
td {
  border: 2px solid $light-color;
  padding: 0.7em;
}
