@import 'libraries';
@import 'commons';

$highlight-color: #77BBDD;
// $text-color: rgba(0, 0, 0, .85);
// $text-color: #4f5262;
$text-color: #545353;
$light-color: #a19e9e;
$input-color: #f4f2f2;
$light-shadow: #dedef0;

$padding: 5px;
$margin: 5px;
$border-radius: 5px;

html,
body,
#root,
.Root {
  height: 100%;
}

@font-face {
  font-family: 'apercu';
  font-style: normal;
  font-weight: normal;
  src: local('apercu'),
    url(../assets/fonts/apercu_regular_pro.otf) format('opentype');
}

@font-face {
  font-family: 'apercu-mono';
  src: local('apercu'),
    url(../assets/fonts/apercu-mono-webfont.woff) format('woff');
}

@font-face {
  font-family: 'apercu-light';
  // font-style: normal;
  // font-weight: lighter;
  src: local('apercu'), url(../assets/fonts/Apercu-Light.otf) format('opentype');
}

@font-face {
  font-family: 'apercu';
  font-style: normal;
  font-weight: medium;
  src: local('apercu'),
    url(../assets/fonts/apercu_medium_pro.otf) format('opentype');
}

@font-face {
  font-family: 'apercu';
  font-style: normal;
  font-weight: bold;
  src: local('apercu'),
    url(../assets/fonts/apercu_bold_pro.otf) format('opentype');
}

@font-face {
  font-family: 'inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('inconsolata'),
    url(../assets/fonts/Inconsolata-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'inconsolata';
  font-style: normal;
  font-weight: bold;
  src: local('inconsolata'),
    url(../assets/fonts/Inconsolata-Bold.ttf) format('truetype');
}

.AuthLinks {
  text-align: center;
  padding: 20px;
  a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
  }
}

div,
p,
h1,
h2,
h3,
h4,
a {
  color: $text-color;
  text-decoration:none;
  margin-bottom: 5px;
  margin-top: 0.5em;
}

a {
  font-family: 'apercu';
  font-weight: 400;
  margin-bottom: 5;
  margin-top: 5;
}

p {
  font-family: 'apercu-light';
  margin-bottom: 0;
}

div,
p {
  font-family: 'apercu-light';
}

b {
  font-family: 'apercu';
  font-weight: 'medium';
}

h1,
h2,
h3,
h4,
h5 {
  // font-family: "Hind";
  font-family: 'apercu';
  font-weight: 'medium';
}

h1 {
  font-size: 30px;
}

a:hover {
  color: $highlight-color;
  // text-decoration: none;
}

.col {
  padding-left: 0 !important;
  padding-right: 1em;
};

.col >* {
  margin-bottom: 1em;
}

button {
  background: $highlight-color;
  box-shadow: 0.2em 0.2em $light-shadow;
  font-size: 18px;
  color: white;
  width: 100%;
  height: 30px;
  border-width: 0px;
  &:focus {
    outline: 0;
  }
}

iframe {
  border: none;
}

input,
select {
  padding: 10px;
  height: 50px;
  border: 1px solid rgba(59, 59, 59, 0.3);
  background: none;
  width: 100%;
}

textarea {
  padding: 10px;
  border: 1px solid rgba(59, 59, 59, 0.3);
  background: none;
  width: 100%;
  resize: none;
}

select {
  outline: none;
  border: 1px solid rgba(59, 59, 59, 0.3);
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

input[type='date']:before {
  content: attr(placeholder) !important;
  color: rgba(59, 59, 59, 0.7);
}

input[type='date']:focus:before,
input[type='date']:valid:before {
  content: '';
}

input[type='month']:before {
  content: attr(placeholder) !important;
  color: #6e789e;
}

input[type='month']:focus:before,
input[type='month']:valid:before {
  content: '';
}

input:focus,
textarea:focus {
  outline: none;
}

table,
th,
td {
  border: 2px solid $light-color;
  padding: 0.7em;
}
